body {
    background-image: url("assets/body-image-bg.png");
    background-repeat: repeat;
}

header>img {
    min-width: 720px;
    max-width: 1024px;
    margin: 0 auto;
    display: block;
    -webkit-box-shadow: 14px 15px 20px -2px rgba(0,0,0,0.6);
-moz-box-shadow: 14px 15px 20px -2px rgba(0,0,0,0.6);
box-shadow: 14px 15px 20px -2px rgba(0,0,0,0.6);

}